// app global css in SCSS form

@font-face {
  font-family: 'alexandria';
  font-style: normal;
  src: url('../assets/alexandria.ttf');
}

* {
  font-family: alexandria;
}

$border-size: (
  'xs': 6px,
  'sm': 8px,
  'md': 10px,
  'lg': 12px,
  'xl': 14px,
  'none': 0px,
);

@each $name, $size in $border-size {
  .rounded-#{$name} {
    border-radius: $size !important;
  }
}

.q-card {
  box-shadow:
    0 4px 24px rgba(0, 0, 0, 0.1),
    0 1.5px 4px rgba(0, 0, 0, 0.08);
}
